**/testResults.xml

!output/

output/*
!output/RequiredModules

output/RequiredModules/*

!output/RequiredModules/Sampler.DscPipeline
!output/RequiredModules/FileSystemDsc
!output/RequiredModules/DscConfig.Demo
