trigger:
  branches:
    include:
    - '*'
  paths:
    exclude:
    - CHANGELOG.md
  tags:
    include:
    - "v*"
    exclude:
    - "*-*"

variables:
  buildFolderName: output
  testResultFolderName: testResults
  defaultBranch: main
  Agent.Source.Git.ShallowFetchDepth: 0

stages:
  - stage: Build
    jobs:
      - job: CompileDscOnWindowsPowerShell
        displayName: Compile DSC Configuration on Windows PowerShell 5.1
        pool:
          vmImage: 'windows-latest'
        steps:

          - pwsh: |
              dir -Path env: | Out-String | Write-Host
            displayName: 'Display Environment Variables'

          - pwsh: |
              dotnet tool install --global GitVersion.Tool --version 5.*
              $gitVersionObject = dotnet-gitversion | ConvertFrom-Json
              $gitVersionObject.PSObject.Properties.ForEach{
                  Write-Host -Object "Setting Task Variable '$($_.Name)' with value '$($_.Value)'."
                  Write-Host -Object "##vso[task.setvariable variable=$($_.Name);]$($_.Value)"
              }
              Write-Host -Object "##vso[build.updatebuildnumber]$($gitVersionObject.FullSemVer)"
            displayName: Calculate ModuleVersion (GitVersion)

          - task: PowerShell@2
            name: build
            displayName: 'Build DSC Artifacts'
            inputs:
              filePath: './build.ps1'
              arguments: '-ResolveDependency -tasks build'
              pwsh: false
            env:
              ModuleVersion: $(NuGetVersionV2)

          - task: PowerShell@2
            name: pack
            displayName: 'Pack DSC Artifacts'
            inputs:
              filePath: './build.ps1'
              arguments: '-tasks pack'

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Output Folder'
            inputs:
              targetPath: '$(buildFolderName)/'
              artifact: 'output5'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish MOF Files'
            inputs:
              targetPath: '$(buildFolderName)/MOF'
              artifact: 'MOF5'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Meta MOF Files'
            inputs:
              targetPath: '$(buildFolderName)/MetaMOF'
              artifact: 'MetaMOF5'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Compressed Modules'
            inputs:
              targetPath: '$(buildFolderName)/CompressedModules'
              artifact: 'CompressedModules5'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish RSOP Files'
            inputs:
              targetPath: '$(buildFolderName)/RSOP'
              artifact: 'RSOP5'
              publishLocation: 'pipeline'
              parallel: true

      - job: CompileDscOnPowerShellCore
        displayName: Compile DSC Configuration on PowerShell Core
        pool:
          vmImage: 'windows-latest'
        steps:

          - pwsh: |
              dir -Path env: | Out-String | Write-Host
            displayName: 'Display Environment Variables'

          - pwsh: |
              dotnet tool install --global GitVersion.Tool --version 5.*
              $gitVersionObject = dotnet-gitversion | ConvertFrom-Json
              $gitVersionObject.PSObject.Properties.ForEach{
                  Write-Host -Object "Setting Task Variable '$($_.Name)' with value '$($_.Value)'."
                  Write-Host -Object "##vso[task.setvariable variable=$($_.Name);]$($_.Value)"
              }
              Write-Host -Object "##vso[build.updatebuildnumber]$($gitVersionObject.FullSemVer)"
            displayName: Calculate ModuleVersion (GitVersion)

          - task: PowerShell@2
            name: build
            displayName: 'Build DSC Artifacts'
            inputs:
              filePath: './build.ps1'
              arguments: '-ResolveDependency -tasks build'
              pwsh: true
            env:
              ModuleVersion: $(NuGetVersionV2)

          - task: PowerShell@2
            name: pack
            displayName: 'Pack DSC Artifacts'
            inputs:
              filePath: './build.ps1'
              arguments: '-tasks pack'
              pwsh: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Output Folder'
            inputs:
              targetPath: '$(buildFolderName)/'
              artifact: 'output7'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish MOF Files'
            inputs:
              targetPath: '$(buildFolderName)/MOF'
              artifact: 'MOF7'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Meta MOF Files'
            inputs:
              targetPath: '$(buildFolderName)/MetaMOF'
              artifact: 'MetaMOF7'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish Compressed Modules'
            inputs:
              targetPath: '$(buildFolderName)/CompressedModules'
              artifact: 'CompressedModules7'
              publishLocation: 'pipeline'
              parallel: true

          - task: PublishPipelineArtifact@1
            displayName: 'Publish RSOP Files'
            inputs:
              targetPath: '$(buildFolderName)/RSOP'
              artifact: 'RSOP7'
              publishLocation: 'pipeline'
              parallel: true

          - pwsh: |
              $folder = '$(buildFolderName)/GCPackages'
              Write-Host "Test to see if folder '$folder' exists"
              if (Test-Path -Path $folder)
              {
                Write-Output "##vso[task.setvariable variable=GCPackagesExists]Yes"
              }
              else
              {
                Write-Output "##vso[task.setvariable variable=GCPackagesExists]No"
              }
            displayName: 'Test for GCPackages Folder'

          - task: PublishPipelineArtifact@1
            displayName: Publish GC Packages
            inputs:
              targetPath: $(buildFolderName)/GCPackages
              artifact: GCPackages
              publishLocation: pipeline
              parallel: true
            condition: eq(variables['GCPackagesExists'], 'Yes')

  - stage: Deploy
    dependsOn: Build
    # Only execute deploy stage if we're on master and previous stage succeeded
    condition: |
      and(
        succeeded(),
        or(
          eq(variables['Build.SourceBranch'], 'refs/heads/main'),
          startsWith(variables['Build.SourceBranch'], 'refs/tags/')
        )
      )
    jobs:
      - job: Deploy_Module
        displayName: 'Deploy Module'
        pool:
          vmImage: 'windows-latest'
        steps:
          - task: DownloadPipelineArtifact@2
            displayName: 'Download Build Artifact'
            inputs:
              buildType: 'current'
              artifactName: $(buildArtifactName)
              targetPath: '$(Build.SourcesDirectory)/$(buildFolderName)'
          - task: PowerShell@2
            name: publishRelease
            displayName: 'Publish Release'
            inputs:
              filePath: './build.ps1'
              arguments: '-tasks publish'
              pwsh: true
            env:
              GitHubToken: $(GitHubToken)
              GalleryApiToken: $(GalleryApiToken)
              ReleaseBranch: $(defaultBranch)
              MainGitBranch: $(defaultBranch)
          - task: PowerShell@2
            name: sendChangelogPR
            displayName: 'Send Changelog PR'
            inputs:
              filePath: './build.ps1'
              arguments: '-tasks Create_ChangeLog_GitHub_PR'
              pwsh: true
            env:
              GitHubToken: $(GitHubToken)
              ReleaseBranch: $(defaultBranch)
              MainGitBranch: $(defaultBranch)
